<nav data-activates="mobile-demo" class="button-collapse">
    <div class="nav-wrapper teal ligther-2">
      <a href="#!" class="brand-logo">SignThis</a>
      <ul class="right hide-on-med-and-down">
      <a href="/settings">Start</a>
      </ul>
    </div>
  </nav>
  <script type="text/javascript">
  	$(".button-collapse").sideNav();
  </script>

<div class="slider">
    <ul class="slides">
      <li>
        <img src="http://www.houstondeafnetwork.com/wp-content/uploads/2014/06/760bf68bc2eac50fdf7f834d_640_asl.png"> <!-- random image -->
        <div class="caption center-align">
          <h3>Talk To The Hand</h3>
          <h5>A Interactive Way to Understand American Sign Language</h5>
        </div>
      </li>
      <li>
        <img src="https://www.nidcd.nih.gov/sites/default/files/Content%20Images/NIDCD-ASL-boy-2014.png"> <!-- random image -->
        <div class="bold black-text text-darken-2 caption left-align">
          <h3>Learn Sign in Real Time</h3>
          <h5 class="light black-text text-darken-3">A New Way to Translate ASL</h5>
        </div>
      </li>
    </ul>
    </div>
    <script type="text/javascript">
    	 $(document).ready(function(){
          $('.slider').slider({full_width: true});
        });
    </script>


