<nav data-activates="mobile-demo" class="button-collapse">
    <div class="nav-wrapper teal ligther-2">
      <a href="demo.html" class="brand-logo">SignThis</a>
    
    </div>
  </nav>

<video id="videoElement" autoplay="true"></video>

<a class="btn" value = "Save" id = "save">Process</a>

<div id = "frameAnalysis" style = "display:none; ">
	<canvas id="canvas" width="500" height="375"></canvas>


	<form action="/analyze_image">

	<img id="imgtag" src="" width="500" height="375" alt="capture" />
</div>


